/*---------------GENERAL STYLES--------------*/
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#peg{
  display: none;
}
.red{
  color: rgb(255, 0, 0);
}
.blue{
  color: #3456d1;
}
.green{
  color: greenyellow;
}
.yellow{
  color: yellow;
}
.theme-blue{
  color: #162661;
}
.white{
  color: white;
}
a{
  outline: none;
  text-decoration: none;
  color: #162661;
}
a:hover{
  text-decoration: underline;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.menu_close{
  display: none;
  cursor: pointer;
}
.logo{
  width: 50px;
  height: 45px;
}
.avatar{
  width: 30px;
  height: 30px;
}

/*------------NAV MENU----------*/
header{
  background: rgb(255, 255, 255);
  border-bottom: 5px solid #162661;
}
#mobile-nav{
  display: none;
}
div.logo-container{
  background: #162661;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
}
.sitename{
  color: #162661;
  font-size: 2em;
  font-weight: 1000;
  line-height: 55px;
  padding-left: 0.5em;
}

.sitename label{
  color: #fe0100;
}
.main-nav{
  float: right;
}

.main-nav ul li{
  position: relative;
  margin-right: 15px;
  padding-top: 7px;
  float: left;
  line-height: 50px;
  list-style: none;
  text-align: center
}
.main-nav ul li a{
  font-size: 100%;
  font-weight: 400;
  color: grey;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: color;
  transition-timing-function: ease-in-out;
}
#mobile-nav ul:first-child,
#mobile-nav ul:last-child{
  padding: 0;
}
#mobile-nav {
  right: 0;
}
#mobile-nav ul li a:hover{
  color: white;
}
#mobile-nav ul li{
  margin: 0;
  padding: 0 20px 0 10px;
  color: #fe0100;
  background-color: white;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: color;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}
#mobile-nav ul li:hover{
  background-color: #fe0100;
}
#mobile-nav ul li:hover a{
 color: white;
}
.main-nav ul:last-child{
  padding-right: 40px;
}
.main-nav ul:first-child{
  padding-left: 20px;
}
.main-nav ul li a:hover{
  color: #fe0100;
  cursor: pointer;
}
#current, 
#mobile-current{
  color: #fe0100;
  font-weight: bold;
}

.body-container{
  padding: 0 100px 0 100px;
  background: url("../images/justice_keyboard.jpg");
  background-size: cover;
}
/*------ CRIME REPORT ------*/
.crime-report-container{
  text-align: center;
  background: #0f0b0a;
}

.crime-report-container h1{
  color: white;
  padding: 1em;
  font-size: 1.2em;
}
.crime-form-container form label,
.crime-form-container form input[type="file"]{
  color: white;
}
.crime-form-container form .title{
  width: 100%;
}
.crime-form-container form input[type="file"]{
  color: white;
  background: #162661;
  border-radius: 5px;
  padding: 0.3em;
}
.crime-form-container form input[type="text"],
.crime-form-container form input[type="number"]{
  display: inline-table;
  width: 320px;
  text-align: center;
  border-radius: 5px;
  padding: 0.5em;
}
.crime-form-container form {
text-align: center;
}
.crime_report_image{
  width: 70%;
}
.crime-form-container{
  text-align: left;
  background: url("../images/justice.png");
  background-size: cover;
}
#title{
  margin-bottom: -40px;
  width: 60%;
}
.crime-form-container .post-text-area{
  display: block;
  width: 60%;
  padding: 30px;
  height: 250px;
  margin: 20px auto;
  border-radius: 10px;
  outline: none; 
  resize: none;
  font-size: 1.3em;
}
.crime-form-container input.report{
  width: 100px;
  margin: 50px auto;
}
.partition{
  display: block;
  padding: 0 50px;
}
.post-display .comment-heading{
  text-align: center;
  color: #162661;
  font-size: 1.5em;
  padding: 1em 0;
  text-decoration: underline;
}
.post{
  background: #9cb1ff28;
  margin: 20px 100px;
}
.actual-post{
  padding: 50px 100px;
}
.actual-post h1{
  font-size: 2em;
  display: inline-table;
}
.actual-post p{
  line-height: 2em;
}
.picture-evidence{
  width: 30%;
}
.picture-evidence:hover{
  box-shadow: 1px 1px 1px 1px black;
  cursor: pointer;
}
.red-flag-icon{
  width: 20px;
  height: 20px;
}
.edit, .delete{
  display: inline-table;
  cursor: pointer;
  margin-top: 10px; 
}
.edit:hover{
  color: #162661;
}
.delete:hover{
  color: #fc3535;
}

.comment-container .comment {
  text-align: center;
}

.comment-container .comment textarea{
  resize: none;
  width: 70%;
  height: 100px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 30px;
  font-size: 1.2em;
}
.comment-avatar{
  display: block;
  padding-bottom: 10px;
}
/*------Modal-------*/
 
.outer-modal {
    position: fixed;
    z-index: 1;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.inner-box {
    width:80%;
    min-width: 320px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}
.image-enlarge{
  width: 100%;
}

.record-frame{
  width: 100%;
  margin: 50px 0;
  margin-top: 0;
  border: none;

    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

.choose-record {
  text-align: center;
}
.choose-record a{
  padding: 10px 0;
  margin: 0;
  display: inline-table;
  font-size: 100%;
  width: 48%;
  text-decoration: none;
  text-align: center;
  border-radius: 0 0 10px 10px;
  border: 1px solid #162661;
}
.choose-record a:hover{
  color: white;
  background: #162661;
}
.default{
  color: white;
  background: #162661
}
#admin{
  padding: 0 0;
}
.admin-container{
  background: #839dfc;
  padding: 0;
  margin-top: 50px;
  width: 100%;
}
.admin-nav{
  display: inline-table;
  width: 30%;
  background: #7c98fd;
  float: left;
}
#admin .admin-nav h1,
#admin .list-of-records h1{
  background: #162661;
  color: white;
  line-height: 1em;
}

.list-of-records{
  display: inline-table;
  width: 70%;
  background: #adbdf7;
  float: left;
}
.list-of-records li{
  text-align: center;
  line-height: 2em;
}
.admin-nav li,
.list-of-records{
  list-style: none;
  line-height: 2em;
}
.admin-nav li:hover, 
.admin-current{
  background: #2744aa;
  cursor: pointer;
}
.admin-nav li:hover ,
.admin-current {
  color: white;
}
.admin-nav li a{
  text-decoration: none;
}
.outer-modal .inner-box .update-status-form{
  background: #0f0b0a;
  padding: 50px 100px;
}
.outer-modal .inner-box 
.update-status-form select{
  cursor: pointer;
  background: #162661;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.1em;
}
.list-of-records .change{
  color: red;
  font-size: 0.8em;
}
.outer-modal .inner-box 
.update-status-form div{
  margin-top: 2em;
}
.list-of-records li{
  list-style: none;
}
.list-of-records li:nth-child(even){
  background: #a0aee0;
}
.list-of-records li a{
  list-style: none;
  font-size: 100%;
}
/*-------- Welcome --------*/

.visitors-message{
  background: rgba(255, 255, 255, 0.9);
  color: #162661;
  font-size: 1em;
  line-height: 1.5em;
  width: 36%; 
  padding: 30px 40px;
  margin: 100px 2% 100px 2%;
  border-radius: 20px;
  float: right;
  text-align: left;
}
.body-container > h1{
  color: #162661;
  background: white;
  border-radius: 0 0 10px 10px;
  border: 1px solid #162661;
  border-top: none;
}
.secure{
  display: inline-block;
  width: 15px;
  height: 15px;
}
.visitors-message h1,
.body-container > h1{
  font-size: 1.5em;
  text-align: center;
  padding: 0.5em;
}
.visitors-message h1 label, 
.body-container > h1 > label{
  color: #fe0100;
}
/*-------REG FORMS------*/
.signup-form{
  display: none;
}
.body-container .signup-form,
.body-container .signin-form{
  text-align: center;
  width: 40%;
  padding: 100px 6% 100px 4%;
  border-radius: 10px;
}
.signup-form, 
.signin-form{
  float: left;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
  text-align: center;
  display: block;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
  width: 100%;
  font-size: 1.05em;
}
form input[type="text"], 
form input[type="password"],
form input[type="number"],
.crime-form-container .post-text-area,
.comment-container .comment textarea{
  background: #dad9d9;
}
form input[type="text"]:focus, 
form input[type="password"]:focus,
form input[type="number"]:focus,
.crime-form-container .post-text-area:focus,
.comment-container .comment textarea:focus{
  background: #ffffff;
}
  h1#compose-heading{
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em 0 0.5em 0;
    width: 320px;
    margin: 0 auto 0.5em auto;
    color: #837665;
    background: #162661;
    border-radius: 0 0 10px 10px;
    border-top: none;
  }

form h2{
  text-align: center;
  color: #223579;
  font-size: 1.5em;
}
.switch-signin{
  color: #fe0100;
}
form input[type="submit"],
.comment-container .comment input[type="submit"]{
  color: white;
  background-color: #162661;
  width: 100%;
  font-size: 1.2em;
  transition-duration: 0.2s;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
}
.comment-container .comment input[type="submit"]{
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
form input[type="submit"]:hover,
.comment-container .comment input[type="submit"]:hover{
  background-color: #3456d1;
  cursor: pointer;
}
.reply{
  background: #16266110;
  padding: 20px 0 0 0;
  margin: 0 100px;
  border-radius: 10px;
}

.reply p{
  padding: 0 20px;
  text-align: justify;
}
.switch-signup:hover, 
.switch-signin:hover{
  cursor: pointer;
}
.video-display video{
  width: 30%;
}
.intervention-count-container,
.redflag-count-container {
  margin: 10px;
}
.profile,
.record-list{
  padding: 0 100px;
  text-align: center;
}
.profile .profile-details{
  text-align: center;
}
.profile .large-avatar{
  width: 100px;
  height: 100px;
  margin: 50px auto 0 auto;
  display: block;
}
.profile .record-count{
  width: 33.333333%;
  padding: 5px 0;
  background-color: #576cbb98;
  color: white;
  float: left;
  text-align: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 5px 20px 1px rgb(155, 154, 154);
}
.profile .middle{
  height: 100px;
}
.profile .record-count label{
  font-size: 3em;
  text-align: center;
}
.profile .record-count span{
  font-size: 100%;
  text-align: center;
}
.profile h1,
.record-list h1{
  font-size: 1.3em;
  padding: 20px 0 10px 0;
  color: #162661;
  text-align: center;
}
.record-list li{
  list-style: none;
}
.record-list{
  padding-bottom: 50px
}
.redflag-list{
  border-right: 1px solid #162661;
}
.redflag-list,
.intervention-list{
  display: inline-table;
  padding: 0 50px;
}
footer{
  background: #162661;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
/*--------------MEDIA QUERIES--------------*/
@media(max-width:800px) {
  .profile .record-count{
    float: none;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
  }
    .profile .record-count:first-of-type{
    border-radius: 20px 20px 0 0;
  }
    .profile .record-count:last-of-type{
    border-radius: 0 0 20px 20px;
  }
  .redflag-list,
  .intervention-list{
    display: block;
    border: none;
    margin-bottom: 20px;
  }

  }
@media(max-width:1000px) {
 .reply {
   margin: 0;
 }
  .reply p{
   text-align: left;
 }
  .hamburger{
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  margin: 20px 60px 0 0;
}
#desktop-nav{
  display: none;
}
  .visitors-message{
    width: 95%;
    float: none;
    margin: 50px auto 0 -2em;
    background: rgba(255, 255, 255, 0.9);
    font-size: 100%;
  }

  .signup-form, 
  .signin-form{
    float: none;
    width: 100%;
}
  .body-container .signup-form,
  .body-container .signin-form{
    width: 100%;
    padding: 50px 0 100px 0;
  }
  .crime-form-container .post-text-area{
    width: 70%;
  }
#about,
#howitworks{
  text-align: left;
  padding: 50px 50px;
}
.actual-post{
  padding: 50px 15px;
  text-align: center;
}
.actual-post h1{
  font-size: 1.2em;
  display: inline-block;
}
.actual-post p{
  line-height: 1.5em;
}
.post{
  margin: 20px 10px;
}
.picture-evidence,
.video-evidence{
  width: 50%;
}
#title{
  width: 75%;
}
.video-display video{
  width: 70%;
}
/******---------------*******/

  .main-nav{
    display: none;
    position: absolute;
    background: white;
    right: -1em;
  }

  .main-nav ul li{
    position: relative;
    margin-right: 15px;
    padding-top: 7px;
    float: none;/*<------*/  
    line-height: 50px;
    list-style: none;
    text-align: center
  }

}

@media(max-width:320px) {
  #longitude, 
  #latitude{
    width: 250px;
  }
  .video-display video{
  width: 90%;
}

}













