/*---------------GENERAL STYLES--------------*/
body{
  font-family: Arial, Helvetica, sans-serif;
}

a{
  outline: none;
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

.logo{
  width: 50px;
  height: 45px;
}
/*------------NAV MENU----------*/
header{
  background: rgb(255, 255, 255);
}

div.logo-container{
  background: #162661;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
  text-align: center;
}

.main-nav{
  float: right;
}

.main-nav ul li{
  margin-right: 15px;
  padding-top: 7px;
  float: left;
  line-height: 50px;
}
.main-nav ul li a{
  font-size: 12pt;
  color: grey;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: color;
  transition-property: border;
  transition-timing-function: ease-in-out;
}
.main-nav ul:last-child{
  padding-right: 40px;
}
.main-nav ul:first-child{
  padding-left: 20px;
}
.main-nav ul li a:hover{
  color: #162661;
  cursor: pointer;
  border-bottom: 2.5px solid #162661;
}

.body-container{
  padding: 0 150px 0 150px;
}
/*-------REG FORMS------*/
.signup-form{
  display: none;
}
.body-container form{
  width: 320px;
  padding: 50px;
}
.signup-form, 
.signin-form{
  float: right;
  /* background: #0036fa; */
}
.signin-form{
  margin-left: 2em;
}
form input[type="text"], 
form input[type="password"],
form input[type="submit"] {
  display: block;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-top: 10px; 
  width: 100%;
  font-size: 1.1em;
}
form h2{
  width: 100%;
  text-align: center;
  color: #162661;
  font-size: 1.2em;
}
form input[type="submit"]{
  text-align: center;
  margin: 10px 15px;
}

.switch-signup:hover, .switch-signin:hover{
  color: #3456d1;
  cursor: pointer;
}

footer{
  background: #162661;
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
/*--------------MEDIA QUERIES--------------*/















